<h1>New product</h1>
<form [formGroup]="productForm" (ngSubmit)="addProduct()">
  <input
    type="text"
    name="name"
    placeholder="name"
    formControlName="name"
  /><br />
  <input
    type="number"
    name="price"
    placeholder="price"
    formControlName="price"
  /><br />
  <input
    type="text"
    name="description"
    placeholder="description"
    formControlName="description"
  />
  <br />
  <button type="button" type="submit">Add Product</button>
</form>

<hr />
<h1>Products List</h1>
@for (product of products; track product._id) {
<app-product-card [product]="product" (deleter)="deleteProduct($event)"></app-product-card>
}
